# Backend dependencies
flask
flask-cors
flask-login
twilio
python-dotenv
psycopg2-binary
openai
langdetect
unidecode
requests
python-telegram-bot
apscheduler
pytz
cloudinary
elevenlabs
gunicorn
sendgrid